<div class="container">
  <div class="head text-center my-5">
    <h1>控制台</h1>
    <a href="/home" class="btn btn-danger m-2">祝福牆</a>
    <a href="/slideshow" class="btn btn-danger m-2">自動播放</a>
  </div>
  <div class="card-columns">
    {{#each cards}}
    <form method="post" action="/card-delete?__method=delete">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(200,35,51,0.2);">
        <img src="https://storage.googleapis.com/gcp-wedding-wall/{{this.imageId}}" alt="{{this.name}}"
          style="width:100%">
        <div class="card-text p-3">
          <p>{{this.text}}</p>
          <h6 class="text-right">{{this.name}}</h6>
          <input type="hidden" name="cardId" value="{{this._id}}">
          <button type="submit" class="btn btn-danger">刪除</button>
        </div>
      </div>
    </form>
    {{/each}}
  </div>
</div>